# Environment variables
.env

# Dependencies
node_modules/

# macOS system files
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploaded files (ignore if these are user uploads)
uploads/

# Coverage reports
coverage/

# Build folders (if you add a frontend later)
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp